@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-black text-zinc-50 antialiased;
  }
}

@layer utilities {
  .tracking-wide-label {
    @apply tracking-[0.2em] uppercase text-xs font-semibold;
  }
}
